<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FlexiRide</title>

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/style.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/retina.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/custom_dashboard.css" rel="stylesheet">
    <link href="/static/bootstrap/css/dashboard.css" rel="stylesheet">
    <link href="/static/bootstrap/css/custom.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
        <div class="row">
            <img src="/static/images/bg1.jpg" style="position: absolute;top: 0;width: 100%;height: 100%;z-index: -1;"/>
            <div class="col-md-12" style="margin-top:0px;">
		<div class="intro_text">FlexiRide</div>
		<div class="or_text">Select any one option from given choice</div>
                <div class="qt_text">Show your "PAN CARD"</div>

                <div id="idcard" style="font-size:20px;font-weight:800;font-color:green;padding:10px;height:50px;"></div>
                <!-- div id="webcam" style="margin:0 auto;height:200px;width:500px;background-color:#fff;margin-bottom: 15px;"></div -->

                <div class="or_text">OR</div>
		<div class="qt_text">Enter Mobile number</div>
                <input class="search_textbox" type="text" id="search_key" style="width: 39%;margin-left: 30%;"/>
                <button id="search_button" style="height: 35px;margin-left: -5px;border-radius: 0 5px 5px 0;" class="btn btn-warning"><i class="icon-search" style="opacity:0.5;"></i> Go</button>
                <img class="loading" src="/static/bootstrap/img/spinner-mini.gif" style="margin:auto;margin-top:80px;" />
                <div class="loading" style="color: #FFF;text-shadow: 0 0 5px #000;font-size: 24px;font-weight: 100;text-align: center;">Processing...</div>
                <p id="error_msg" style="display:inline;margin-left: 30%;padding-top:5px;padding-left:20px;"></p>
            </div>
        </div>
        <div style="clear:both;margin-top:100px;"></div>
        <div id="booking_header" style="font-size: 36px;font-weight: 100;text-align: center;">BOOK YOUR CAB</div>
        <div class="row" style="margin-top:50px;margin-bottom:100px;">
            <div class="col-md-12" id="ps_container">
                <div style="margin-left:30%">
                    <p style="font-size:18px;line-height:18px;">Pick-up spots at - Majestic railway station</p>
                    <ul class="pickup-spots">

                        <li style="margin-left:0;">
                            <input type="radio" id="spot1" class="pickup_spot" value="SBI Atm" />
                            <label for="spot1">SBI Atm </label>
                        </li>
                        <li>
                            <input type="radio" id="spot2" class="pickup_spot" value="Two wheeler parking area" />
                            <label for="spot2">Two wheeler parking area</label>
                        </li>
                        <li>
                            <input type="radio" id="spot3" class="pickup_spot" value="Platform ticket counter" />
                            <label for="spot3">Platform ticket counter</label>
                        </li>
                        <li>
                            <input type="radio" id="spot4" class="pickup_spot" value="Kempegowda bus stn. exit gate" />
                            <label for="spot4">Kempegowda bus stn. exit gate </label>

                        </li>
                    </ul>
                </div>
                
            </div>

            <div class="col-md-12" style="margin-top:30px;">
                <input class="destination" type="text" id="destination" placeholder="Pick a  destination...." style="margin-left: 30%;"/>
            </div>
            
            <div class="col-md-12" style="margin-top:50px;">
                <div class="tabs" style="margin-left:25%;width:50%;">
                    <ul class="tab-links">
                        <li class="active"><a href="#Mini">Mini</a></li>
                        <li><a href="#Sedan">Sedan</a></li>
                        <li><a href="#Prime">Prime</a></li>
                    </ul>
                 
                    <div class="tab-content">
                        <div id="Mini" class="tab active">
                            <table class="table table-hover">
                              <tbody id="cabDetailsTableMini">
                                <tr>
                                    <td style="width:30px;">
                                        Distance To Arrive
                                    </td>
                                    <td>
                                        Estimated Time To Arrive
                                    </td>
                                    <td>
                                        Estimated Amount
                                    </td>
                                    <td>
                                        Total Travel Distance
                                    </td>
                                    <td>
                                        Total Travel Time
                                    </td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                 
                        <div id="Sedan" class="tab">
                            <table class="table table-hover">
                              <tbody id="cabDetailsTableSedan">
                                <tr>
                                    <td style="width:30px;">
                                        Distance To Arrive
                                    </td>
                                    <td>
                                        Estimated Time To Arrive
                                    </td>
                                    <td>
                                        Estimated Amount
                                    </td>
                                    <td>
                                        Total Travel Distance
                                    </td>
                                    <td>
                                        Total Travel Time
                                    </td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                 
                        <div id="Prime" class="tab">
                            <p>No Cabs Available in this Category.</p>
                        </div>
                    </div>
                </div>
                <!--ul class="car-type-list" style="list-style:none">
                    <li class="col-md-4 cab_type"><img src="http://d1foexe15giopy.cloudfront.net/mini.png"> Mini</li>
                    <li class="col-md-4 cab_type"><img src="http://d1foexe15giopy.cloudfront.net/mini.png"> Sedan</li>
                    <li class="col-md-4 cab_type"><img src="http://d1foexe15giopy.cloudfront.net/mini.png"> Prime</li>
                </ul-->
            </div>
            <div class="col-md-12" style="margin-top:30px;">
                <div class="confirm-ride" id="confirm_ride">Confirm Ride</div>
            </div>
        </div>
        <div class="row footer"></div>

    </div>


    
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="/static/js/jquery-1.8.3.js"></script>
    <script src="/static/js/underscore.js"></script>
    <script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/static/js/jquery.sparkline.min.js"></script>
    <script src="/static/js/retina.min.js"></script>
    <script src="/static/js/custom.min.js"></script>
    <script src="/static/js/core.min.js"></script>
    <script src="/static/js/jquery.flot.min.js"></script>
    <script src="/static/js/jquery.flot.pie.min.js"></script>
    <script src="/static/js/d3.min.js"></script>
    <script src="/static/js/xcharts.min.js"></script>
    <script src="/static/js/pages/index.js"></script>
    <script src="/static/js/jquery.tmpl.min.js"></script>
    <script src="/static/js/moment.js"></script>
    <!--script src="/static/js/custom.js"></script-->
    <!--<script src="/static/webcam.js"></script>-->
    <script src="/static/sample_cam.js"></script>
    <script src="/static/js/base.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbQiBA6R8To3G1oPtLkuufK5_pXAUtU-4&signed_in=true&libraries=places&callback=initAutocomplete" async defer></script>
    

<script type="text/template" id="viewItem7">
<div class="timeslot <%-className%> <%-type%>" style="height:<%-text.length * 0.5%>px;">
    <div class="task">
        <span class="details">
            <%-text%>
        </span>
        <div class="at-arrow"></div>
    </div>
    <div class="icon"><%-sentiment%></div>
</div>
</script>

<script type="text/template" id="viewItem5">
<tr>
	<td class="center ">
	    <span><%-name%></span>
	    <span class="occ label label-warning"><%-count%></span>
	</td>
	<td class="occBar">
	    <div class="posBar" style="width:<%-occPer%>%;"></div>
	</td>
</tr>
</script>

<script type="text/template" id="cabDetails">
    <%for(var i=0;i<cabDetails.categories.length; i++) {{'{'}} var d=cabDetails;%> 
      <% if(d['categories'][i]['display_name'] == filter){{'{'}}%>
        <tr>
            <td style="width:30px;">
                <% if(d['categories'][i]['distance'] == -1){{'{'}}%>2<%} else {{'{'}}%><%-d['categories'][i]['distance']%> Kilometers<%}%>
            </td>
            <td>
              <% if(d['categories'][i]['eta'] == -1){{'{'}}%>2<%} else {{'{'}}%><%-d['categories'][i]['eta']%> Minute(s)<%}%>
            </td>
            <td>
                <%-d['ride_estimate'][i]['amount_max']%> Rupees
            </td>
            <td>
                <%-d['ride_estimate'][i]['distance']%> Kilometers
            </td>
            <td>
                <%-d['ride_estimate'][i]['travel_time_in_minutes']%> Minute(s)
            </td>
        </tr>
      <% } %>
    <% } %>
</script>

<script type="text/template" id="viewItem8">
<div class="v8div">
    <div>
        <img src="<%-user.image%>" style="width:40px;height:40px;"/>
        <div class="v8name"><%-user.name%>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#777;font-size:12px;"><%-user.location%></span></div>
        <div class="v8desc"><%-user.description%></div>
    </div>
    <div style="margin-left: 60px;color:#777;position: relative;top: -15px;">
        <%-user.followers%> followers &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%-user.tweets%> tweets
    </div>
    <div class="v8text">
        <%-text%>
    </div>
    <div style="color:#777;">
        <%-count.retweet%> retweets &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%-count.favorite%> favorites
    </div>
</div>
</script>

<script type="text/template" id="viewItem0">
<% for(var i=0; i<info.length; i++){{'{'}} %>
<div>
    <div>
        <img src="<%-info[i].user.image%>" style="width:40px;height:40px;"/>
        <div class="v8name" style="margin-left:5px;"><%-info[i].user.name%>&nbsp;&nbsp;&nbsp;&nbsp;</div>
    </div>
    <div class="v8text" style="font-size: 18px;font-weight: 100;margin-left: 50px;position: relative;top: -18px;">
        <%-info[i].text%>
    </div>
    <div style="margin-left: 50px;font-size: 12px;color: #333;margin-top: 2px;position: relative;top: -18px;">
        SCORE&nbsp;<%-info[i].stats.total%> &nbsp;&nbsp; ( <%-info[i].stats.retweet%> retweet&nbsp;+&nbsp; <%-info[i].stats.favorite%> favorite&nbsp;+&nbsp; <%-info[i].stats.views%> views )
    </div>
</div>
<% } %>
</script>

<script>
$('#confirm_ride').click(function(e){
	    e.preventDefault();
	    $(".loading").css("display", "block");
            var check_value = $('.pickup_spot:checked').val();
            console.log(check_value);
	    var url = '/api/latest/cab/booking';
	    var params = {'destination': check_value}
	    $.get(url, params).then(function(res){
        	    $(".loading").hide();
			    if(res.data && res.data.length != 0){
                     window.open('/showconfirmation/' + res.data[0].crn, '_blank');
			     } 
	    });
		                                 
    });
</script>

</body>
 
</html>
