<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
   
    <title>PAN card test reader</title>

  <body>


    <div class="container">

        <div id="idcard" style="font-size:20px;font-weight:800;font-color:green;padding:10px;height:50px;"></div>
        <div id="webcam" style="height:480px;width:640px;float:left;">
        </div>
        <div id="textcam" style="white-space:pre-wrap;padding-left:710px;padding-top:40px;"></div>

    </div>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/jquery-1.8.3.js"></script>
    <script src="/static/webcam.js"></script>
    <script src="/static/sample_cam.js"></script>
  
 </body>
 
</html>
